<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ToDo</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css" />
    <link rel="stylesheet" type="text/css" href="css/main.css" />

</head>
<body>
<div class="main">
    <div class="top-bar">
        <button class="hamburger hamburger--spin toggler" id="sidebar-open-close">
        <span class="hamburger-box">
            <span class="hamburger-inner" id="hamburger-inner"></span>
        </span>
        </button>
    </div>
    <div class="items-active" id="items-all">
        <% for (var i = 0; i < result.length; i++){ %>
        <div class="todo-item <%= result[i].status %>">
            <div class="todo-item-title"><%= result[i].title %></div>
            <div class="todo-item-text">
                <%= result[i].content %>
            </div>
            <div class="actions-time">
                <div class="time">
                    <a href="/item/<%= result[i].title %>">Read More</a>
                </div>
                <ul class="done-remove-btn">
                    <li id="complet-btn"><a href="/done/<%= result[i]._id %>"><i class="material-icons">&#xE877;</i></a></li>
                    <li id="delete-btn"><a href="/edit/<%= result[i]._id %>"><i class="material-icons">&#xE254;</i></a></li>
                    <li id="delete-btn"><a href="/remove/<%= result[i]._id %>"><i class="material-icons">&#xE92B;</i></a></li>
                </ul>
            </div>
        </div>
        <% } %>
        <div class="sidebar sidebar-close" id="sidebar">
            <div class="sidebar-header"></div>
            <ul>
                <a href="/"><li id="showAll"><i class="material-icons">&#xE85D;</i>All</li></a>
                <a href="/active"><li id="showActive"><i class="material-icons">&#xE85F;</i>Active</li></a>
                <a href="/completed"><li id="showCompleted"><i class="material-icons">&#xE862;</i>Completed</li></a>
                <a href="/removeall"><li id="clearAll"><i class="material-icons">&#xE92B;</i>Clear All</li></a>
            </ul>
        </div>
    <a href="/write" id="createNew"><i class="material-icons">&#xE150;</i></a>
</div>



<script src="js/main.js"></script>
</body>
</html>